<!DOCTYPE html>
<html>
<title>{% block title %}{% endblock %} | WORDart.</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('{% static 'core/img/onepage_restaurant.jpg' %}');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo">
    <p>WORDart.</p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    
    <ul class="nav navbar-nav">
            <li>
                <a class="w3-button w3-black" href="{% url 'home' %}">WORDart.</a>
            </li>
            <li>
                <a class="w3-button w3-black" href="{% url 'about' %}">ACERCA DE</a>
            </li>
            <li>
                <a class="w3-button w3-black"href="{% url 'gallery' %}">GALERIA</a>
            </li>
            <li>
                <a class="w3-button w3-black" href="{% url 'contact' %}">CONTACTO</a>
            </li>
        </ul>
    </ul>
 

  <!--FOOTER-->
  <div class="w3-display-bottomleft w3-container">
        <div class="w3-display-bottomleft w3-container">
                <p class="w3-xlarge">monday - friday 10-23 | saturday 14-02</p>
                <p class="w3-large">42 village St, New York</p>
                <p>powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
  </div>
</div>

{% block content %} {% endblock %}

</body>
</html>